/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/10/2018, 12:44:43
    Author     : Luis
*/

.button-vermelho{background-color: red;}
.button-vermelho:hover{
    background-color: #cc0000;
    border: 0px solid gray !important;
}
.button-vermelho.active{background-color: #cc0000;}

.button-verde{background-color: green;}
.button-verde:hover{
    background-color: #336600;
    border: 0px solid gray !important;
}
.button-verde.active{background-color: #336600;}

.button-roxo{background-color: purple;}
.button-roxo:hover{
    background-color: #660066;
    border: 0px solid gray !important;
}
.button-roxo.active{background-color: #660066;}

.button-tiffany{background-color: #009999;}
.button-tiffany:hover{
    background-color: #006666;
    border: 0px solid gray !important;
}
.button-tiffany.active{background-color: #006666;}

.button-preto{background-color: #333333;}
.button-preto:hover{
    background-color: #000000;
    border: 0px solid gray !important;
}
.button-preto.active{background-color: #000000;}

.button-branco{background-color: white;}
.button-branco:hover{
    background-color: #eeeeee;
    border: 0px solid gray !important;
}
.button-branco.active{background-color: #eeeeee;}

.button-azul{background-color: #003399;}
.button-azul:hover{
    background-color: #003366;
    border: 0px solid gray !important;
}
.button-azul.active{background-color: #003366;}

.button-amarelo{background-color: yellow;}
.button-amarelo:hover{
    background-color: #cccc00;
    border: 0px solid gray !important;
}
.button-amarelo.active{background-color: #cccc00;}

.button-natural{background-color: #ccccb3;}
.button-natural:hover{
    background-color: #b8b894;
    border: 0px solid gray !important;
}
.button-natural.active{background-color: #b8b894;}

.button-verde-neon{background-color: greenyellow;}
.button-verde-neon:hover{
    background-color: #66ff33;
    border: 0px solid gray !important;
}
.button-verde-neon.active{background-color: #66ff33;}

.button-amarelo-neon{background-color: #ffff99;}
.button-amarelo-neon:hover{
    background-color: #ffff00;
    border: 0px solid gray !important;
}
.button-amarelo-neon.active{background-color: #ffff00;}

.button-rosa-neon{background-color: #ff66cc;}
.button-rosa-neon:hover{
    background-color: #cc00cc;
    border: 0px solid gray !important;
}
.button-rosa-neon.active{background-color: #cc00cc;}

.button-agua{background-color: #00cccc;}
.button-agua:hover{
    background-color: #009999;
    border: 0px solid gray !important;
}
.button-agua.active{background-color: #009999;}

.button-azul-escuro{background-color: #3366ff;}
.button-azul-escuro:hover{
    background-color: #0033cc;
    border: 0px solid gray !important;
}
.button-azul-escuro.active{background-color: #0033cc;}

.button-azul-claro{background-color: #3399ff;}
.button-azul-claro:hover{
    background-color: #0066ff;
    border: 0px solid gray !important;
}
.button-azul-claro.active{background-color: #0066ff;}

.button-laranja-neon{background-color: #ff9900;}
.button-laranja-neon:hover{
    background-color: #ff6600;
    border: 0px solid gray !important;
}
.button-laranja-neon.active{background-color: #ff6600;}

.button-turquesa{background-color: #40e0d0;}
.button-turquesa:hover{
    background-color: #2db4a6;
    border: 0px solid gray !important;
}
.button-turquesa.active{background-color: #2db4a6;}