/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/09/2018, 11:24:26
    Author     : Luis
*/
.navbar-left{
    margin-left: 10rem;
}
.btn-menu{
    color: #165b2a;

}

.btn-menu:hover {
    color: #fff;
    background-color: #165b2a;
    border-color: #165b2a;
}

.btn-menu:focus, .btn-menu.focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
    background-color: #165b2a;
}

.btn-menu.disabled, .btn-menu:disabled {
    color: #fff;
    background-color: #165b2a;
    border-color: #165b2a;
}

.btn-menu:not(:disabled):not(.disabled):active, .btn-menu:not(:disabled):not(.disabled).active,
.show > .menu.dropdown-toggle {
    color: #fff;
    background-color: #165b2a;
    border-color: #165b2a;
}

.btn-menu:not(:disabled):not(.disabled):active:focus, .btn-menu:not(:disabled):not(.disabled).active:focus,
.show > .btn-menu.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

/*.text-menu{
    color: #165b2a !important;
}*/

/*.menu:hover{
    animation-name: menua;
    animation-duration: 1.3s;
    background-color: #28a745; 
    background-color: #C1FFC1; #32CD32 #90EE90
    background-color: #28a745;
    
}
@keyframes menua {
    0% {transform: scale(1.3,1.3); background-color: #C1FFC1}
    
    50% {}
    
    100% {transform: scale(1.0,1.0);}  
}*/
.logo2{
    position: fixed;
    width: 100px;
    height: 100px;
    z-index: 999;
    
}

.logo{
    
    width: 100px;
    height: 100px;
    z-index: 999;
    margin-top: 5px;
    
}
/*
.logo:hover{
    animation-name: example;
    animation-duration: 5s;


}  */
@keyframes example {
    0%   {width: 100px ; height: 100px ;}
    /*    25%  {width: 120px ; height: 100px}
        50%  {width: 120px ; height: 120px}
        75%  {width: 100px ; height: 120px}*/
    /*    50%  {width:100px; height:100px; } */
    100% {width: 100px ; height:100px; transform: rotateY(360deg)}

}

.menufixed{
   position:fixed;
   z-index: 999;
}

.bodypage{
    position: absolute;
    margin-top: 5%;
    margin-bottom: 10%;
}
.bg-capim{
    background-color: #165b2a;
}
.redesocial{
    font-size: 2em;
}
.banner{
    max-width: 100%;
    height: auto;
}
.produto-cor{
    width:160px;
    height:150px;
}
.head-produto{
    margin-left: 3rem;
}

.imagem-copo{
    /* width:50%;
    height:100%; */
    width:350px;
    height:350px;
    max-width:450px;
    max-height:400px;
}
.imagem-copo-emprestimo{
    /* width:50%;
    height:100%; */
    width:450px;
    height:350px;
    max-width:450px;
    max-height:400px;
}
.imagem-impressao{
    /* width:50%;
    height:100%; */
    width:300px;
    height:250px;
    max-width:300px;
    max-height:250px;
}

.selected{
    border: solid 2px;
}
